<a href="https://colab.research.google.com/github/cheysreylin/Machinelearning/blob/main/Machine_Learning_Midterm_EXAM(Chey_Sreylin).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # for to plot the graph

from sklearn import datasets
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression

In [2]:
# Upload the dataset
from google.colab import files
upload = files.upload()

Saving BA.csv to BA.csv

In [3]:
dataset = pd.read_csv("BA.csv")
dataset.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-01-04,210.000000,210.199997,202.490005,202.720001,202.720001,21225600
1,2021-01-05,204.740005,213.350006,204.600006,211.630005,211.630005,19338300
2,2021-01-06,210.220001,215.610001,209.339996,211.029999,211.029999,16202200
3,2021-01-07,213.389999,216.600006,211.779999,212.710007,212.710007,14474100
4,2021-01-08,213.610001,214.100006,208.160004,209.899994,209.899994,14144000
5,2021-01-11,203.029999,207.779999,201.009995,206.789993,206.789993,16770300
6,2021-01-12,206.649994,209.059998,204.809998,208.410004,208.410004,12836200
7,2021-01-13,207.149994,208.789993,204.850006,207.210007,207.210007,8570500
8,2021-01-14,208.789993,214.190002,208.210007,209.910004,209.910004,12446800
9,2021-01-15,208.960007,209.250000,204.199997,204.320007,204.320007,11103300

In [4]:
# c .clean the dataset
dataset.isnull()

      Date   Open   High    Low  Close  Adj Close  Volume
0    False  False  False  False  False      False   False
1    False  False  False  False  False      False   False
2    False  False  False  False  False      False   False
3    False  False  False  False  False      False   False
4    False  False  False  False  False      False   False
..     ...    ...    ...    ...    ...        ...     ...
225  False  False  False  False  False      False   False
226  False  False  False  False  False      False   False
227  False  False  False  False  False      False   False
228  False  False  False  False  False      False   False
229  False  False  False  False  False      False   False

[230 rows x 7 columns]

In [5]:
dataset.isnull().sum() / len(dataset)

Date         0.0
Open         0.0
High         0.0
Low          0.0
Close        0.0
Adj Close    0.0
Volume       0.0
dtype: float64

In [ ]:
# the dataset is already clean

In [6]:
# d. Fill the missing values of the dataset using the average of column “Low “ from the dataset.
dataset['Low'].isnull()
# No missing value

0      False
1      False
2      False
3      False
4      False
       ...
225    False
226    False
227    False
228    False
229    False
Name: Low, Length: 230, dtype: bool

In [7]:
# e. Find the missing percent of each column 
dataset.isnull().sum() / len(dataset)

Date         0.0
Open         0.0
High         0.0
Low          0.0
Close        0.0
Adj Close    0.0
Volume       0.0
dtype: float64

In [ ]:
# f. Draw 3 different graphs for Date vs low, Date vs High, Date vs Close

In [8]:
# g. Build a multiple linear regression model to predict the closing price using the volume, low and high price of the dataset?
# Multiple linear regresssion 
# select the variable ( x, y)

x_variable1 = ['Volume','Low', 'High'] 
y_variable1 = ['Close'] 

# reshape the input value ( dataset )to give the input to the model 
x = dataset[x_variable1].values.reshape(-1, 3) 

y = dataset[y_variable1].values.reshape(-1, 1)
print(x.shape)
print(y.shape)

(230, 3)
(230, 1)

In [9]:
# split dataset into two part for training and one for testing
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2) # 80% for train, 20% for testing
print(x_train.shape)
print(x_test.shape)

(184, 3)
(46, 3)

In [10]:
# Build the model
Linear_regression = LinearRegression()

In [11]:
# give input into model
model = Linear_regression.fit(x_train, y_train)

In [12]:
#finding intercept & slope(Coefficient)
Q_0 = model.intercept_
print(Q_0)
Q_1 = model.coef_
print(Q_1)

[2.02189243]
[[2.36790165e-08 4.67783477e-01 5.20161070e-01]]

In [13]:
y_predict = model.predict(x_test)
print(y_predict)

[[206.57418355]
 [227.30436808]
 [220.67969731]
 [231.68668587]
 [234.86345493]
 [239.84124359]
 [214.47168167]
 [213.23609672]
 [209.50822686]
 [219.46882413]
 [243.25514569]
 [219.86393002]
 [208.93590757]
 [204.72500927]
 [227.9464897 ]
 [222.47557359]
 [252.64812683]
 [225.53473095]
 [246.19357474]
 [244.02720536]
 [230.45825338]
 [209.04469624]
 [198.20447211]
 [231.22190224]
 [241.12781338]
 [252.97392367]
 [206.65470772]
 [260.83823564]
 [228.51799161]
 [241.84509887]
 [248.32467391]
 [237.08830181]
 [249.48177859]
 [236.44292893]
 [241.04024568]
 [211.86517198]
 [236.05305755]
 [199.94323117]
 [254.65023385]
 [249.89573179]
 [252.70026846]
 [234.37714288]
 [224.21655605]
 [236.5030932 ]
 [204.52721766]
 [211.09710713]]

In [14]:
# h. Predict the exact closing price of anyone of the given input. Decide the input values by yourself as relevant to the dataset. 
# You should analyze the dataset before choosing the input.

# Predict the single value  
x_assumption = np.array([8145300,197.940002,202.929993])
x_assumption = x_assumption.reshape(1,-1)

y_pred = model.predict(x_assumption)
print(y_pred)

[[200.36410983]]

In [15]:
# i. Use any one of the evaluation models to justify your predicted result.
from sklearn.metrics import r2_score 
r2 = sklearn.metrics.r2_score(y_test, y_predict)
print(r2)

0.9827680342289312

j. Write your reflection on this task as a conclusion? (Note: What did you understand?)
=> From my reflection what I understood are:
1. Be able to predict the data and compare to see if the method is effective or not
2. Be careful on chosing the dataset, base on the instruction
3. Be able to review the code as well as how can we clean the dataset, check null value, and find the percentages of any specific column of whole dataset