<a href="https://colab.research.google.com/github/cheysreylin/Machinelearning/blob/main/predict_bitcoin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import sklearn
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

from sklearn import datasets 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [16]:
# import dataset 
from google.colab import files
upload = files.upload()

Saving BTC-USD (1).csv to BTC-USD (1).csv

In [18]:
# read the dataset
dataset = pd.read_csv("BTC-USD (1).csv")
dataset.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,29374.152344,40730301359
1,2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765
2,2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202
3,2021-01-04,32810.949219,33440.218750,28722.755859,31971.914063,31971.914063,81163475344
4,2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782
5,2021-01-06,34013.613281,36879.699219,33514.035156,36824.363281,36824.363281,75289433811
6,2021-01-07,36833.875000,40180.367188,36491.191406,39371.042969,39371.042969,84762141031
7,2021-01-08,39381.765625,41946.738281,36838.636719,40797.609375,40797.609375,88107519480
8,2021-01-09,40788.640625,41436.351563,38980.875000,40254.546875,40254.546875,61984162837
9,2021-01-10,40254.218750,41420.191406,35984.628906,38356.441406,38356.441406,79980747690

In [19]:
# clean the dataset 
dataset.isnull().sum()/len(dataset)

Date         0.0
Open         0.0
High         0.0
Low          0.0
Close        0.0
Adj Close    0.0
Volume       0.0
dtype: float64

In [20]:
dataset.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
360    False
361    False
362    False
363    False
364    False
Length: 365, dtype: bool

In [21]:
dataset["High"].isnull().sum()/len(dataset)

0.0

In [22]:
dataset["High"].duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
360    False
361    False
362    False
363    False
364    False
Name: High, Length: 365, dtype: bool

In [ ]:
# the dataset is already clean

In [23]:
x_variable = ["High", "Low"]
y_variable = ["Close"]

# reshape the input the pass it into the model
x = dataset[x_variable].values.reshape(-1,2)
y = dataset[y_variable].values.reshape(-1,1)

print(x.shape)
print(y.shape)

(365, 2)
(365, 1)

In [24]:
# split the dataset for training and testing
x_test, x_train, y_test, y_train = train_test_split(x, y, test_size = 0.3) # 70% for trainging and 30% for testing
print(x_test.shape)
print(x_train.shape)

(255, 2)
(110, 2)

In [25]:
# build the model
linear_regression = LinearRegression()

In [26]:
# fit into the model
model = linear_regression.fit(x_train, y_train)

In [27]:
# finding intercept and slopt
Q_0 = model.intercept_
Q_1 = model.coef_

print(Q_0)
print(Q_1)

[844.87145759]
[[0.39210954 0.59704367]]

In [28]:
y_predict = model.predict(x_test)
print(y_predict)

[[32846.43510683]
 [36867.74640261]
 [47931.95916411]
 [49037.92808973]
 [65555.94356345]
 [37196.5027381 ]
 [61736.44995248]
 [49583.96191292]
 [65199.56522556]
 [33551.85004957]
 [35315.09587846]
 [35584.92785253]
 [56854.65022151]
 [55922.17461822]
 [56327.62235503]
 [52908.46438532]
 [52144.12901588]
 [58806.71983566]
 [54649.16219242]
 [60080.02579455]
 [59523.67863855]
 [48115.70274842]
 [56056.75435122]
 [39419.50212044]
 [37079.1049112 ]
 [52777.45170268]
 [37660.36521893]
 [32230.35133495]
 [32760.09475027]
 [36702.81703225]
 [36297.45508132]
 [42344.58523277]
 [53260.16388053]
 [47207.92480961]
 [61418.38136196]
 [58468.46862888]
 [36210.31495808]
 [48602.52394811]
 [44836.12184353]
 [37557.26415051]
 [46588.61536376]
 [57492.44536207]
 [65067.26743026]
 [48057.43878152]
 [48089.75988269]
 [55411.19428911]
 [35048.42753805]
 [57327.07226861]
 [35561.62154028]
 [55859.45836303]
 [47383.06891758]
 [62353.8659425 ]
 [57068.20058755]
 [34315.32248497]
 [50546.62102971]
 [48330.77233718]
 [38691.68057581]
 [46038.78310155]
 [47965.57175951]
 [58077.70931693]
 [41133.53866237]
 [41698.77140742]
 [59139.34356236]
 [47412.49599596]
 [55158.75370818]
 [31663.84683878]
 [36845.66469652]
 [46353.00081053]
 [38421.76181009]
 [45766.84396151]
 [64526.67744742]
 [38952.92065399]
 [46078.64526843]
 [63011.42651694]
 [45904.60405351]
 [47579.42935265]
 [49020.63134872]
 [48805.0351459 ]
 [37184.56491564]
 [38916.72887287]
 [47301.3400393 ]
 [48561.69658876]
 [59139.59145566]
 [34895.94536946]
 [35341.04962562]
 [29648.55832443]
 [33718.43527703]
 [55967.041251  ]
 [49139.60143211]
 [40256.69905726]
 [40051.81430674]
 [32391.54764237]
 [55104.39344951]
 [44979.96301205]
 [51166.14353439]
 [48765.33779139]
 [61208.97129028]
 [43410.1682363 ]
 [42055.40461852]
 [50199.76007113]
 [61694.86686198]
 [49826.03702018]
 [58336.3705584 ]
 [56641.9583293 ]
 [57326.12428455]
 [46644.673776  ]
 [31389.24909634]
 [47652.30157723]
 [57993.51628233]
 [35980.46640651]
 [35152.20147666]
 [47808.05765609]
 [31315.79200098]
 [54582.35318172]
 [56703.88858048]
 [58809.19933108]
 [49199.18682759]
 [64775.5249118 ]
 [35131.26521588]
 [62069.40291383]
 [52640.03830095]
 [47552.73632883]
 [38386.81156914]
 [39467.35273433]
 [33761.64457367]
 [32728.82053684]
 [34953.14250721]
 [42962.2756664 ]
 [49670.17468739]
 [31105.83979337]
 [33649.16884728]
 [57780.80169977]
 [55926.99048556]
 [50266.2770887 ]
 [40685.72317183]
 [32571.71853757]
 [31214.01503487]
 [59405.30608463]
 [35623.61011647]
 [46247.31086597]
 [37056.95818053]
 [33536.70772062]
 [51990.6896208 ]
 [49769.66972951]
 [38528.22246963]
 [37793.24722787]
 [35472.53267865]
 [34324.9833594 ]
 [37451.47287414]
 [41695.10138232]
 [34120.35721386]
 [50190.92313741]
 [51298.96879935]
 [39631.47451869]
 [33930.50703987]
 [49183.88182815]
 [46621.33562639]
 [55113.3679465 ]
 [34771.32273522]
 [33174.22245979]
 [48264.53930061]
 [44643.57611068]
 [58242.68405549]
 [48325.26743941]
 [61454.91868546]
 [46010.104378  ]
 [44471.55614986]
 [58596.28739373]
 [31149.91349048]
 [59958.1729859 ]
 [40052.67038523]
 [37070.99565176]
 [45628.33155597]
 [37093.11491218]
 [34030.27944319]
 [57784.24635857]
 [55177.30824988]
 [47900.80707275]
 [53752.17099483]
 [46904.11495996]
 [56648.17726992]
 [38561.22371006]
 [47768.48193749]
 [50247.0625645 ]
 [48001.5970985 ]
 [48932.45233569]
 [57655.70998733]
 [37278.70460866]
 [33477.60647353]
 [50470.45226069]
 [45142.58015288]
 [46793.02497786]
 [56753.60147502]
 [54500.71653335]
 [45531.47150801]
 [56795.46030118]
 [55268.98792391]
 [49939.05842689]
 [49724.11354819]
 [36247.5149685 ]
 [46950.47039135]
 [53259.34883858]
 [39286.86254433]
 [48044.90942891]
 [46634.23716655]
 [49125.56670657]
 [50025.08036456]
 [45823.24001224]
 [61896.16984047]
 [64877.58335526]
 [51879.10873542]
 [34644.43368304]
 [63728.75085852]
 [36966.63930749]
 [48109.28314629]
 [35996.88524561]
 [43813.3369397 ]
 [44326.00830639]
 [34510.2047928 ]
 [35260.20959104]
 [60915.57081075]
 [31595.50523812]
 [50759.78172192]
 [50047.04739759]
 [34940.73189947]
 [39524.6465022 ]
 [60440.52854237]
 [56808.78194972]
 [53377.35457573]
 [47901.60685423]
 [34914.90771574]
 [35042.64456654]
 [33325.39882742]
 [56923.0901011 ]
 [33152.47971121]
 [62259.54667068]
 [32185.83891808]
 [45158.86641592]
 [64046.38775527]
 [61656.05291715]
 [33556.3577224 ]
 [46229.88329442]
 [58775.14989628]
 [48924.6305003 ]
 [59630.64416052]
 [47119.08044733]
 [32334.58089337]
 [47690.29003398]
 [67349.26015334]
 [52772.49646469]
 [61065.88980635]
 [56523.47173451]
 [45701.03947918]
 [47274.88750555]
 [49632.56730798]]

In [30]:
# predict specific value
x_assumption = np.array([29600.626953,28803.585938])
x_assumption = x_assumption.reshape(-1,2)

y_pre = model.predict(x_assumption)
print(y_pre)

# Predicted data: "Close" = 29648.55832443
# Real data: "Close" = 29374.152344

[[29648.55832443]]

In [42]:
from sklearn.metrics import r2_score 
r2 = sklearn.metrics.r2_score(y_test, y_predict)
print(r2)

0.9881429525041072